/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}



/* Set a background color for the whole page */
body {
  background-color: #f0f0f0;
  font-family: 'Courier New', Courier, monospace;
}

/* Style the navigation bar */
nav {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}

a{
  color: #0077cc;
  text-decoration: none;
}

nav .name {
  font-size: 35px;
  font-weight: bold;
}

nav .social a {
  text-decoration: none;
  margin-left: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 100;
  font-style: oblique;
  text-decoration: underline;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content .image {
  flex: 1;
  max-width: 20%;
  padding: 20px;
  padding-right: 20px;
}

.content .image img {
  max-width: 100%;
  border-radius: 100%;
}

.content .about {
  flex: 1;
  max-width: 50%;
}

.content ul {
  list-style-type: none;
  padding: 0;
}

.content li {
  margin-bottom: 10px;
}

.projects {
  padding: 20px;
  margin-left: 20vh;
  margin-right: 20vh;
  border-radius: 5px;
}

.projects h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.projects ul {
  list-style-type: none;
  padding: 0;
}

.projects li {
  margin-bottom: 20px;
}

.projects a {
  color: #0077cc;
  text-decoration: none;
}

.projects p {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .content .image {
    max-width: 50%;
    padding: 0;
    order: -1;  
  }

  .content .about {
    max-width: 80%;
  }

  .projects {
    margin: 10px;
    padding: 10px;
  }
}

@media (max-width: 480px) {

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav .social {
    margin-top: 10px;
  }

  .content .image {
    max-width: 50%;
  }

  .content .about {
    max-width: 100%;
  }

  .about{
    margin: 20px;
  }
}
